<br>
<h1 class="title is-1">Cookbook</h1>

<h2 class="title is-3">Random Recipe of the Day</h2>
<%  provide(:keywords, random_keywords) %>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image-is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%=@title%></p>
        <p class="subtitle is-6"><%=@category%></p>
      </div>
    </div>

    <div class="content">
      <div class="columns">
        <div class="column is-narrow">
          <strong>Ingredients:</strong>
        </div>
        <% @ingredients.each do |ingredient| %>
          <div class="column is-narrow">
            <%= ingredient %>
          </div>
        <% end %>
     </div>
      <p>Mix it all up and see what happens.</p>
    </div>
  </div>
</div>
