<br>
<h1 class="title is-1">Cookbook</h1>

<h2 class="title is-3">Random Recipe of the Day</h2>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image-is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Recipe Title</p>
        <p class="subtitle is-6">Recipe Category</p>
      </div>
    </div>

    <div class="content">
      <div class="columns">
        <div class="column is-narrow">
          <strong>Ingredients:</strong>
        </div>
        <div class="column is-narrow">
          Ingredient 1
        </div>
        <div class="column is-narrow">
          Ingredient 2
        </div>
        <div class="column is-narrow">
          Ingredient 3
        </div>
      </div>
      <p>Mix it all up and see what happens.</p>
    </div>
  </div>
</div>
