<% provide(:title, "Search Results") %>

<section class="section">
  <h1 class="title is-3">Search Results</h1>

  <%= if @results %>

    <%= will_paginate @recipes, renderer: BulmaPagination::Rails, class: 'is-centered' %>
    <section class="section">
      <div class="column is-full">
        <ul class="recipes">
          <%= render @recipes %>
        </ul>
      </div>
    </section>
    <%= will_paginate @recipes, renderer: BulmaPagination::Rails, class: 'is-centered' %>
  <% else %>
    <p>No Recipes Found</p>
  <% end %>
</section>
