<% provide(:title, "Saved Recipes") %>

<section class="section">
  <h1 class="title is-3">Search</h1>
  <form action='/search_results'>
    <div class="field has-addons">
      <div class="control search-bar">
        <%= text_field(:query, :title, class: "input search", placeholder: "Find a recipe") %>
      </div>
      <div class="control">
        <a class="button" type="submit">
          Search
        </a>
      </div>
    </div>
  </form>
</section>
