<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="message is-danger">
      <div class="message-header">
        <p>Errors</p>
      </div>
      <div class="message-body">
        The form contains <%= pluralize(object.errors.count, "error") %>.
      </div>
      <div class="content">
        <ul>
          <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <br>
    </div>
  </div>
<% end %>
